body {
  text-align: center;
  line-height: 2;
  font-size: 18px;
  background: rgba(235, 204, 164, 0.377);
}

.answer {
  font-style: italic;
  font-weight: bold;
}

a {
  padding: 10px;
  color: rgb(163, 136, 99);
}

.mail {
  padding: 0;
}
